{% if site.formcarry == true %}
{% if place %}
<form id="form{{place}}" class="newsletter-form validate" action="{{ site.formcarry-identifier }}" method="POST" accept-charset="UTF-8">
    <div class="newsletter-group">
        <div class="newsletter-group-top">
            <input class="newsletter-email required email" type="text" name="first-name" id="form{{place}}-first-name" placeholder="Nome" required>
        </div>
        <div class="newsletter-group-top">
            <input class="newsletter-email required email" type="text" name="last-name" id="form{{place}}-last-name" placeholder="Cognome" required>
        </div>
        <div class="newsletter-group-top">
            <input class="newsletter-email required email" type="email" name="email" id="form{{place}}-email" placeholder="E-Mail" required>
        </div>
        <div class="newsletter-group-top">
            <textarea class="newsletter-email required email" name="message" id="form{{place}}-message" placeholder="Messaggio" rows="3"></textarea>
        </div>
        <button class="newsletter-button" id="form{{place}}-button" type="submit" name="submit" value="Send">Invia</button>
    </div>
</form> 
{% endif %}
{% endif %}