<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- SEO metadata tags -->
  {% seo %}

  <!-- Atom feed -->
  {% feed_meta %}

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">  
  
  <!-- Stylesheet -->
  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>

  <!-- Favicons -->
  {% include favicons.html %}

  <!-- PWA -->
  <link rel="manifest" href="/manifest.json">
  {% include service-worker.html %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% include google-analytics.html %}

</head>