<div class="article col col-4 col-d-6 col-m-12 grid__post animate">
  {% if vip.image %}
    <a class="article__image" href="{{vip.url | prepend: site.baseurl}}">
      <img class="vips" src="{{site.baseurl}}{{ vip.image_dir }}{{ vip.image }}" alt="{{ vip.title }} padel">
    </a>
  {% endif %}
  <div class="article__content">
    <h2 class="article__title">
      <a href="{{ vip.url | prepend: site.baseurl }}">{{ vip.title }}</a>
    </h2>
    <p class="article__excerpt">{% if vip.description %}{{ vip.description | capitalize }}{% else %}{{ vip.content | strip_html | truncate: 100 | capitalize}}{% endif %}</p>
    <div class="article__bottom">
      <div class="article__btn">
        <a href="{{vip.url | prepend: site.baseurl}}" class="read-more">Entra<i class="ion ion-ios-arrow-forward"></i></a>
      </div>
    </div>
  </div>
</div>