@font-face {
    font-family: 'Nexa';
    src: url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff2") format("woff2"), url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.woff") format("woff"), url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.ttf") format("truetype"), url("https://www.transavia.com/static/fonts/Nexa_Regular-webfont.svg#nexa_regularregular") format("svg");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-stretch:normal
}

@font-face {
    font-family: 'Nexa';
    src: url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff2") format("woff2"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.woff") format("woff"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.ttf") format("truetype"), url("https://www.transavia.com/static/fonts/Nexa_XBold-webfont.svg#nexa_xboldregular") format("svg");
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
    font-stretch:normal
}