// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .35s;


// *****************
// Color Variables
// *****************
$brand-color: #ffdf00;
$dark: #0a0a0a;
$gray: #f0f0f0;
$blue-gray: #b7b9c2;
$light: #fff;


// Body Color
$text-color: $dark;

// Background Colors
$background-color: $light;

// *****************
// Typography
// *****************
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Poppins', sans-serif;
$base-line-height: 32px;

// Headings
$heading-font-weight: 600;
$heading-font-family: 'Poppins', sans-serif;
$heading-color: $dark;

$font-size-h1:  32px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.2;