---
layout: default
---


{% assign  racchette_brand = site.racchette | sort: "index" | reverse | where:"brand", page.brand %}
  
{% for racchetta in racchette_brand %}
{% if racchetta.model == page.model %}

    {% unless forloop.first %}
        {% assign prevurl = prev.url %}

        {% assign prevmodel = prev.model %}
    {% endunless %}

    {% unless forloop.last %}
        {% assign next = racchette_brand[forloop.index] %}
        {% assign nexturl = next.url %}
        {% assign nextmodel = next.model %}
    {% endunless %}

{% endif %}

{% assign prev = racchetta %}
{% endfor %}


{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      {% if page.parent %}
      <div class="article__btn">
        <a href="{{ page.parent | prepend: site.baseurl }}" class="read-more"><ion-icon name="chevron-back-outline"></ion-icon> Tutte le {{page.marca | capitalize}}</a>
      </div>  
      {% endif %}
      <div class="post-head">
        <div class="post-info">
        </div>
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </div>
      <div class="image-box">
        <img class="post-image racchette" src="{{site.baseurl}}{{ page.image_dir }}{{ page.image }}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-d-10 col-m-12 push-d-1 push-m-0">
 
      <!-- begin post -->
      <article class="post giu">

        <div class="post__content">
          <h2>Descrizione</h2>

          {{ content }}

          <h2>Caratteristiche</h2>

          <!-- Specs Table -->

          <table class="table-specs">
            <tbody>
              {% if page.anno %}
              <tr>
                <td>Anno:</th>
                <td>{{ page.anno }}</th>
              </tr>
              {% endif %}
              {% if page.prezzo %}
              <tr>
                <td>Prezzo:</td>
                <td>{{ page.prezzo }}€</td>
              </tr>
              {% endif %}
              {% if page.forma %}
              <tr>
                <td>Forma:</td>
                <td>{{ page.forma | capitalize }}</td>
              </tr>        
              {% endif %}
              {% if page.bilanciamento %}
              <tr>
                <td>Bilanciamento:</td>
                <td>{{ page.bilanciamento | capitalize }}</td>
              </tr>             
              {% endif %}
              {% if page.peso %}
              <tr>
                <td>Peso:</td>
                <td>{{ page.peso | capitalize }}gr</td>
              </tr>
              {% endif %}
              {% if page.livello %}
              <tr>
                <td>Livello di gioco consigliato:</td>
                <td>{{ page.livello | capitalize }}</td>
              </tr>  
              {% endif %}
              {% if page.materiale %}
              <tr>
                <td>Materiale:</td>
                <td>{{ page.materiale | capitalize }}</td>
              </tr>       
              {% endif %}
              {% if page.gomma %}
              <tr>
                <td>Gomma:</td>
                <td>{{ page.gomma | capitalize }}</td>
              </tr>
              {% endif %}
              {% if page.piatto %}
              <tr>
                <td>Superficie del piatto:</td>
                <td>{{ page.superficie | capitalize }}</td>
              </tr>                
              {% endif %}

            </tbody>
            </table>


          <br>
          {% if prevurl or nexturl %}
          <div class="article__btn">
            {% if nexturl %}<a href="{{nexturl}}" class="read-more" style="float: left;"><ion-icon name="chevron-back-outline"></ion-icon> {{nextmodel}}</a>{% endif %}
            {% if prevurl %}<a href="{{prevurl}}" class="read-more" style="float: right;">{{prevmodel}} <ion-icon name="chevron-forward-outline"></ion-icon></a>{% endif %}                    
          </div>
          {% endif %}
          <br>
        </div>

        {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

      </article>
      <!-- end post -->
      
    </div>

  </div>
</div>